<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-1127967254854636",
      enable_page_level_ads: true
    });
  </script>
</head>

<body>
  {{{body}}}
</body>

</html>


    <script>
    var arr = [
        "http://www.techbeamers.com/top-web-developer-interview-questions/",
        "https://www.linkedin.com/groups/3926212/3926212-6390949450205974529?midToken=AQEMDx-FRb3d-g&trk=eml-b2_anet_digest_of_digests-group_discussions-18-discussion~subject&trkEmail=eml-b2_anet_digest_of_digests-group_discussions-18-discussion~subject-null-v8kep~jg3zph3y~m7-null-communities~group~discussion&lipi=urn%3Ali%3Apage%3Aemail_b2_anet_digest_of_digests%3B5zlzbPWBSOuMF6hNjzDJKw%3D%3D",
        "https://www.linkedin.com/groups/3926212/3926212-6382720909182144512?midToken=AQEMDx-FRb3d-g&trk=eml-b2_anet_digest_of_digests-hero-11-discussion~subject&trkEmail=eml-b2_anet_digest_of_digests-hero-11-discussion~subject-null-v8kep~jg3zph3y~m7-null-communities~group~discussion&lipi=urn%3Ali%3Apage%3Aemail_b2_anet_digest_of_digests%3B5zlzbPWBSOuMF6hNjzDJKw%3D%3D",
        "https://medium.com/dev-blogs/ds-with-js-stack-queue-d91fc8cea7a3",
        "https://medium.freecodecamp.org/how-65-new-developers-with-no-previous-coding-experience-got-their-first-jobs-103846ba640e",
        "https://medium.com/javascript-scene",
        "https://www.glassdoor.com/blog/which-type-of-raise-is-best-for-you/",
        "https://www.glassdoor.com/blog/10-dos-donts-of-salary-negotiation/?utm_source=newsletter&utm_medium=email&utm_content=042618_10cooloffices&utm_campaign=apr18_us",
        "https://github.com/kamranahmedse/developer-roadmap",
        "https://medium.freecodecamp.org/5-key-learnings-from-the-post-bootcamp-job-search-9a07468d2331",
        "https://medium.com/javascript-scene/master-the-javascript-interview-what-is-functional-programming-7f218c68b3a0",
        "https://medium.com/javascript-scene/10-interview-questions-every-javascript-developer-should-know-6fa6bdf5ad95",
        "http://www.techbeamers.com/top-web-developer-interview-questions/",
        "https://medium.com/javascript-scene/10-interview-questions-every-javascript-developer-should-know-6fa6bdf5ad95",
        "http://blog.gainlo.co/index.php/2015/10/23/7-red-flags-in-code-interview/",
        "http://www.gainlo.co/?utm_source=blog&utm_medium=hellobar%20fullscreen&utm_campaign=blog#!/",
        "https://rob-bell.net/2009/06/a-beginners-guide-to-big-o-notation/",
        "https://www.glassdoor.com/Interview/software-engineer-interview-questions-SRCH_KO0,17.htm",
        "https://www.paysa.com/blog/2017/05/23/33-common-software-engineering-interview-questions/",
        "https://www.techrepublic.com/blog/10-things/10-things-you-may-be-asked-during-a-developer-interview-and-how-to-handle-them/",
        "http://noop.nl/2009/01/100-interview-questions-for-software-developers.html",
        "https://www.developer.com/mgmt/three-types-of-interview-questions-software-developers-should-expect.html",
        "http://blog.galvanize.com/coffee-questions/",
        "http://www.bigocheatsheet.com/",
        "http://math-cs.gordon.edu/courses/cps122/handouts-2014/From%20Python%20to%20Java%20Lecture/A%20Comparison%20of%20the%20Syntax%20of%20Python%20and%20Java.pdf",
        "http://andrewyan.logdown.com/posts/643979-front-end-job-interview-questions",
        "https://www.toptal.com/javascript/interview-questions",
        "https://medium.com/coderbyte/a-tricky-javascript-interview-question-asked-by-google-and-amazon-48d212890703",
        "https://medium.freecodecamp.org/3-questions-to-watch-out-for-in-a-javascript-interview-725012834ccb",
        "https://www.interviewcake.com/javascript-interview-questions",
        "https://www.codementor.io/nihantanu/21-essential-javascript-tech-interview-practice-questions-answers-du107p62z",
        "https://www.codementor.io/javascript/tutorial/how-to-ace-javascript-interview-questions-answers",
        "https://github.com/kennymkchan/interview-questions-in-javascript",
        "https://www.upwork.com/i/interview-questions/javascript/",
        "https://www.sitepoint.com/5-typical-javascript-interview-exercises/",
        "https://www.youtube.com/watch?v=057Rs6CgJnY",
        "https://www.thatjsdude.com/interview/js2.html",
        "http://www.techbeamers.com/javascript-interview-questions-answers/",
        "https://www.youtube.com/watch?v=oxoFVqetl1E",
        "https://www.logicroom.co/how-to-interview-senior-javascript-developers-and-architects/",
        "https://www.javatpoint.com/javascript-interview-questions",
        "https://www.reddit.com/r/javascript/comments/3rb88w/ten_questions_ive_been_asked_most_more_than_once/",
        "http://theprofessionalspoint.blogspot.com/2013/03/basic-javascript-technical-interview.html",
        "https://softwareengineering.stackexchange.com/questions/251101/i-know-javascript-really-well-but-i-bomb-coding-interviews",
        "https://www.testdome.com/tests/javascript-online-test/14",
        "https://www.frontendjournal.com/most-common-technical-interview-question-for-frontend-developers/",
        "https://www.quora.com/What-are-some-good-JavaScript-interview-questions",
        "https://www.airpair.com/javascript/javascript-code-mentoring",
        "https://www.udemy.com/top-javascript-interview-questions-and-answers/",
        "https://github.com/h5bp/Front-end-Developer-Interview-Questions",
        "https://www.brainscape.com/packs/javascript-technical-interview-8872729",
        "https://stackoverflow.com/questions/2492123/pro-javascript-programmer-interview-questions-with-answers",
        "http://www.chem.umd.edu/wp-content/uploads/2009/09/15-Toughest-Interview-Questions-and-Answers.pdf",
        "http://poincare.matf.bg.ac.rs/~jelenagr/ASP/testHeadHunter.pdf",
        "http://engineeringinterviewquestions.com/technical-interview-questions-answers-pdf-free-download/",
        "http://khan4019.github.io/front-end-Interview-Questions/sort.html",
        "https://skillcrush.com/2016/03/29/rock-your-next-whiteboard-test/",
        "https://www.reddit.com/r/cscareerquestions/comments/1jov24/heres_how_to_prepare_for_tech_interviews/",
        "https://www.geeksforgeeks.org/fundamentals-of-algorithms/",
        "https://gist.github.com/jaysonrowe/1592432",
        "https://github.com/vaidehijoshi/basecs-series",
        "https://medium.com/appsflyer/unlocking-the-javascript-code-interview-an-interviewer-perspective-f4fe06246b29",
        "https://www.codeproject.com/Articles/620811/Latest-JavaScript-Interview-Questions-and-Answers",
        "https://hackernoon.com/breadth-first-search-in-javascript-e655cd824fa4",
        "https://www.hackerearth.com/practice/algorithms/graphs/breadth-first-search/tutorial/",
        "https://www.hackerearth.com/practice/algorithms/graphs/depth-first-search/tutorial/",
        "https://khan4019.github.io/front-end-Interview-Questions/bst.html",
        "https://medium.com/basecs/breaking-down-breadth-first-search-cebe696709d9",
        "https://www.scotch.io/bar-talk/4-javascript-design-patterns-you-should-know",
        "https://medium.com/basecs",
        "https://medium.com/javascript-scene/why-hiring-is-so-hard-in-tech-c462c3230017",
        "https://code.tutsplus.com/articles/data-structures-with-javascript-tree--cms-23393",
        "Code Academy Factorial Functions: https://www.codecademy.com/courses/javascript-lesson-205/1/1",
        "https://blog.anthonycomito.com/answer-the-anagram-interview-question-with-es6-c7621e43596d",
        "https://medium.freecodecamp.org/js-type-coercion-explained-27ba3d9a2839",
        "http://blog.benoitvallon.com/sorting-algorithms-in-javascript/the-bubble-sort-algorithm/",
        "https://repl.it/@leodotng/Find-all-the-prime-numbers-from-1-100",
        "http://bigocheatsheet.com/",
        "http://2ality.com/2015/06/tail-call-optimization.html",
        "https://davidwalsh.name/promises",
        "https://davidwalsh.name/essential-javascript-functions",
        "https://career.guru99.com/top-85-javascript-interview-questions/",
        "https://github.com/ganqqwerty/123-Essential-JavaScript-Interview-Question",
        "JS Gotchas in interviews - https://air.ghost.io/js-things-i-never-knew-existed/",
        "A perfect guide to javascript interviews - https://medium.com/dev-bits/a-perfect-guide-for-cracking-a-javascript-interview-a-developers-perspective-23a5c0fa4d0d?source=linkShare-65fb0cb3f058-1516610431",
        "https://www.keyvalues.com/culture-queries/questions-to-ask-your-interviewer?junior-devs",
        "https://medium.freecodecamp.org/5-top-sites-for-javascript-interview-preparation-71b48e9a6c8a",
        "https://codelab.interviewbit.com/",
        "https://www.activestate.com/blog/2016/01/python-vs-java-duck-typing-parsing-whitespace-and-other-cool-differences",
        "https://codeburst.io/javascript-breaking-down-the-shortest-possible-fizzbuzz-answer-94a0ad9d128a",
        "https://www.mediacollege.com/internet/javascript/pros-cons.html",
        "https://gist.github.com/rauschma/f7b96b8b7274f2e2d8dab899803346c3",
        "https://medium.freecodecamp.org/here-are-examples-of-everything-new-in-ecmascript-2016-2017-and-2018-d52fa3b5a70e",
        "https://www.w3resource.com/javascript-exercises/",
        "https://github.com/ganqqwerty/123-Essential-JavaScript-Interview-Question",
        "https://digitaldefynd.com/best-javascript-tutorial-class-course-training-certification/",
        "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment",
        "https://medium.com/@interdigitizer/5-debugging-tools-every-javascript-programmer-should-know-and-use-38575141689c",
        "https://medium.freecodecamp.org/here-are-three-upcoming-changes-to-javascript-that-youll-love-387bce1bfb0b",
        "https://medium.freecodecamp.org/the-essential-guide-to-take-home-coding-challenges-a0e746220dd7",
        "https://www.codementor.io/blog/software-engineer-interview-questions-3ey7wme14h?utm_content=posts&amp;utm_source=sendgrid&amp;utm_medium=email&amp;utm_term=post-3ey7wme14h&amp;utm_campaign=newsletter20180411",
        "https://ditam.github.io/posts/fizzbuzz/",
        "https://medium.freecodecamp.org/software-engineering-interviews-744380f4f2af",
        "https://teamtreehouse.com/community/what-type-of-paradigm-language-javascript-is"

    ];

    function getItem() {
        document.getElementById("interview").innerHTML = arr[Math.floor(Math.random() * arr.length)];
    }
</script>
<script>
    var arrTwo = [
        "Immutablejs",
        "Debouncing",
        "Webhooks",
        "React",
        "Microsoft Entity Framework",
        "Vuejs",
        "Python",
        "TFS | Team Foundation Server",
        "Java",
        "Ruby On Rails",
        "Docker",
        "Sencha Test",
        "Big O analysis",
        "Immutability",
        "Multithreading and paralellism",
        "Define the Big O - Efficiency of an algorithm in its worse case scenario.",
        "Identify the Big O of common algorithms",
        "Look up all the different notations of Big O notation (O(nm))",
        "Stacks & Queues",
        "Scope Table",
        "Trees https://medium.freecodecamp.org/all-you-need-to-know-about-tree-data-structures-bceacb85490c",
        "I/O table - Edge Cases",
        "Breadth First Search",
        "Depth Firsts Search",
        "Fibonnacci Sequence",
        "Factorials & Functions",
        "Sorting Algorithms - Quick Sort, Merge Sort, Bubble sort, etc.",
        "Anagrams Javascript - https://codereview.stackexchange.com/questions/99247/determining-if-two-words-are-anagrams",
        "Map, filter, reduce, sort",
        "Accumulators",
        "J2EE technologies: Java, JSP, JMS, JAXB, JDBC",
        "High Order Functions / Hoisting",
        "Closures https://developer.mozilla.org/en-US/docs/Web/JavaScript/Closures | https://coderbyte.com/algorithm/3-common-javascript-closure-questions",
        "Amazon Simple Storage Service (S3)",
        "ELB Elastic Load Balancing",
        "ElasticSearch",
        "Kubernetes",
        "OpenStack",
        "Websphere",
        "Websockets",
        "Bower",
        "Symfony",
        "SCRUM",
        "HLS",
        "RDS Amazon Relational Database Service",
        "EC2 Amazon Elastic Compute Cloud",
        "Redis Database",
        "Lodash",
        "ActiveMQ",
        "MQTT",
        "Cloudwatch",
        "JUnit",
        "after.js",
        "Framer Design and prototype tool",
        "Hadoop",
        "Spark",
        "Tomcat",
        "AMQP",
        "RabbitMQ",
        "vCloud",
        "vCenter",
        "Sailsjs",
        "vSphere",
        "Jedis",
        "Hapi.js",
        "Total.js",
        "LoopBack",
        "Google AMP",
        "SIP | Session Initiation Protocol",
        "URI | Uniform Resource Identifier",
        "JIRA",
        "Simulink",
        "Swift",
        "actionHero.js",
        "CURL",
        "Simulink",
        "Spring",
        "Hibernate",
        "API.ai",
        "Microsoft LUIS",
        "QueryDSL",
        "JPA | JAVA Persistence API",
        "PL/SQL",
        "Smarty: PHP Template Engine",
        "MSSQL",
        "PhantomJS",
        "Jersey",
        "Susy",
        "Firebug",
        "Computer-aided software engineering (CASE) is the domain of software tools used to design and implement applications.",
        "Singularity",
        "Brunch",
        "Grunt",
        "GIS | A geographic information system (GIS) is a system designed to capture, store, manipulate, analyze, manage, and present spatial or geographic data.",
        "Mithril",
        "BigTable",
        "SSI | SQL Server Integration Services",
        "T-SQL | Transact-SQL",
        "OBIEE",
        "CouchDB",
        "Xamarin",
        "Restify",
        "Azure",
        "Mockito",
        "Gulp",
        "YUI",
        "Express",
        "Mocha.js",
        "Chai.js",
        "Sinon.js",
        "Stylus-lang",
        "Sidekiq",
        "Xdebug",
        "Restful APIs",
        "Flask",
        "React Native",
        "AngularJS",
        "Node",
        "riotjs",
        "MERN",
        "MongoDB",
        "Apollo",
        "GraphQL",
        "Reasonml",
        "Jest TDD",
        "Maven",
        "Gradle",
        "Webpack",
        "Google Widevine",
        "Backbone",
        "Marionette",
        "Kotlin Programming Language",
        "Golang",
        "XML",
        "JSON",
        "noSQL",
        "Chef",
        "Typescript",
        "Rust",
        "SQS",
        "SNS",
        "Phoenix | http://phoenixframework.org/",
        "DynamoDB",
        "Quartz",
        "Meteor",
        "Ansible",
        "Terrform",
        "restify",
        "Moelculer",
        "Chef",
        "Governor.io",
        "Yarn",
        "tcServer",
        "Gugamarket",
        "Koa.js",
        "Frisby",
        "facet",
        "Elixir",
        "SASS",
        "Laravel",
        "SCSS",
        "Memcached",
        "Beanstalkd",
        "CircleCI",
        "Jenkins",
        "SQL",
        "Reselect | https://github.com/reactjs/reselect",
        "Looker",
        "Tableau",
        "Selenium",
        "C#",
        'Karma | JS Test runner',
        "ORM - Object Relational Mapping",
        "ASP.NET",
        "Ansible",
        "ELK | https://qbox.io/blog/welcome-to-the-elk-stack-elasticsearch-logstash-kibana",
        "GoCD Continuous Delivery",
        "Team City",
        "Cypress Unit Testing",
        "D3",
        "Less CSS",
        "Deck.gl",
        "Babel stage-0 (ES2017)",
        "Nginx",
        "CentOS",
        "nginx/php-fpm",
        "Silex",
        "Dependency injection",
        "phpunit",
        "behat",
        "phpspec",
        "memcache",
        "mariadb",
        "Varnish",
        "oCaml",
        "AVA Javascript Test Runner",
        "ReasonML",
        "IntelliJ",
        "Adobe AEM",
        "Sproutcore",
        "Jasmine",
        "SOAP | Simple Object Access Protocol",
        "LEMP Stack",
        "Yii",
        "Screaming Frog & Log File Analyser",
        "LUA",
        "Zend Framework 2 | https://framework.zend.com/manual/2.4/en/index.html"

    ];


    function getItemTopic() {
        document.getElementById("topic").innerHTML = arrTwo[Math.floor(Math.random() * arrTwo.length)];
    }
</script>
<script>
    var arrThree = [
        "What is negative infinity?",
        "Code a Linked List",
        "Whats the hardest challenge you have had to overcome and how did you approach it?",
        "Is it possible to check if a variable is an object?",
        "Find the median of a very big array of integer. Only  iterator is available",
        "Tell me about a project you have worked on.",
        "Tell me about your current position",
        "what are .bind(), .call(), and .apply() used for? how are they different?",
        "Do you have examples of your work",
        "Do you have any questions for us? (knowledge of company, team/workflow questions, no salary/compensation)",
        "Write a function that takes three arguments, sums all three and returns the result",
        "Write a funciton that takes a string and returns the upperase version of that string with an '!'",
        "Write a function that takes 2 arguments and returns the bigger of the two",
        "Print the the numbers from 1 to 10 using a for loops",
        "Print the numbers from 10 to 1 using a while loop",
        "Write a function that prints the numbers 1 to 10 using a while loop",
        "Write a function that calculates how many seconds there in a day",
        "Write a function that accepts a number it will return the factorial of that number.",
        "Have you learned something new or interesting lately?",
        "Why did you get into coding, programming, etc.?",
        "What is your preferred development environment?",
        "What front-end framework do you prefer? Why?",
        "How do you deal with failure?",
        "What is your biggest weakness?",
        "How do you resolve conflicts?",
        "What would you do differently?",
        "Explain event delegation",
        "Describe Event Bubbling",
        "What is IIFE, Immediate invoked function expression",
        "What’s your favorite technology?",
        "Name an app with good design.",
        "What is something you have learned in the last week?",
        "Tell me about how you debug.",
        "What are your favorite features about ES2015?",
        "What is the difference between undefined and not defined in JavaScript?",
        "What is a “closure” in JavaScript?",
        "What is the significance, and what are the benefits, of including 'use strict' at the beginning of a JavaScript source file?",
        "What is NaN? What is its type? How can you reliably test if a value is equal to NaN?",
        "What are the advantages of using JavaScript?",
        "What are disadvantages of using JavaScript?",
        "What are the valid scopes of a variable in JavaScript?",
        "Explain the difference between synchronous and asynchronous functions.",
        "What is an example of an immutable object in JavaScript?",
        "What tools and techniques do you use debugging JavaScript code?",
        "What are the data types in JavaScript?",
        "How does inheritance work in JavaScript?",
        "How can variables be assigned in Javascript in ES2015? | http://putaindecode.io/en/articles/js/es2015/const-let-var/",
        "What’s the difference between == and === in JS?",
        "What's the difference between Primitive and Reference types in Javascript?",
        "Explain how 'this' works in JavaScript",
        "Explain 'hoisting'.",
        "Name a time where you ran into a challenging problem in a group project, and how you solved the problem.",
        "Can you explain the most difficult challenge you had to  overcome and how you overcame it?",
        "Can you name two programming paradigms important for JavaScript app developers?",
        "What are the pros and cons of using Promises instead of callbacks?",
        "What is the event loop?",
        "Describe event bubbling.",
        "What is the DOM?",
        "What is the box model?",
        "What are data-attributes and why are they useful?",
        "What is minification?",
        "What does CSS Stand for and what does its name mean?",
        "What is z-index in CSS?",
        "What is Semantic HTML?",
        "What is HTML?",
        "Describe pseudo-elements and discuss what they are used for.",
        "What's the difference between a relative, fixed, absolute and statically positioned element?",
        "How is responsive design different from adaptive design?",
        "What's the difference between inline and inline-block?",
        "Tell me about yourself.",
        "Tell me about a project you have worked on.",
        "Do you have any questions for us? (knowledge of company, team/workflow questions, no salary/compensation)",
        "Which of your managers gets the best results and most value out of you and why?",
        "If I were to ask your last set of coworkers to describe you, what do you think they'd say?",
        "Have you made an account on our website and what do you think can be improved about the process?",
        "What’s the one thing we haven’t asked you about that you want to make sure we know?",
        "When you don’t know the answer to something, what is the first thing that you do?",
        "If you could design your dream job, what would it look like?",
        "Can you tell me about a side project you've worked on (outside of school or work) in the past year or so?",
        "Tell me about your process of getting work done. When you get a new job or take on a new project, how do you go about doing it successfully?",
        "How did you first learn to program and what was the first thing you built?",
        "Describe a coworker's working style.",
        "What’s your biggest weakness?",
        "What's your proudest accomplishent?",
        "What's a challenge you have faced?",
        "Walk us through the process of creation of an application or website you've built.",
        "Which new JavaScript / browser features are you most excited about and why?",
        "How do you handle a situation when you cannot meet a deadline?",
        "Why are you the right person for the job?",
        "If you could master one technology this year, what would it be?",
        "What books are on your reading list?",
        "How do you handle criticism?",
        "Who are your heroes?",
        "Why do you want to work here?",
        "Describe a situation when you did much more than it was expected from you to get the project done. Were your efforts recognized? By whom and how? How did that make you feel?",
        "Where do you see yourself in 3 years?",
        "Describe a situation in which you met a major obstacle in order to complete a project. How did you deal with it? What steps did you take?",
        "I’d be interested in hearing about a miscommunication you had with your supervisor. How did you solve it? What was the reason for that? How did you deal with that situation?",
        "Give an example of a time when you didn’t agree with other programmer. Did you stand up for something that you believed was right?",
        "Tell me about a time when you had to work with a difficult person to accomplish a goal. What was the biggest challenge? How did you handle it?",
        "Give me an example of a time you had to take a creative and unusual approach to solve coding problem. How did this idea come to your mind? Why do you think it was unusual?",
        "Give me an example of a project that completely failed. Why do you think it was a failure? Could there be anything done differently in order to turn it into success?",
        "What's the difference between imperative programming and declarative programming?",
        "What are some tenets of functional programming?",
        "What does AJAX stand for? Explain how it works in as much detail as possible",
        "What is the difference between classical inheritance and prototypal inheritance?",
        "What are the pros and cons of functional programming vs object-oriented programming?",
        "Tell me how the Internet works.",
        "What is continuous integration?",
        "What is functional programming?",
        "What is two-way data binding? Answer: https://stackoverflow.com/questions/13504906/what-is-two-way-binding",
        "What are the pros and cons of immutability? Answer: http://reactkungfu.com/2015/08/pros-and-cons-of-using-immutability-with-react-js/ https://www.quora.com/What-are-the-pros-and-cons-of-immutability-and-immutable-data",
        "Name as many kinds of loops as you can. Answer: For loop, for in loop, while loop, do while loop https://www.w3schools.com/js/js_loop_for.asp",
        "Name as many different kinds of conditionals as you can. Answer: if, else, else if, switch https://www.w3schools.com/js/js_if_else.asp",
        "What HTTP methods are supported by REST? Answer: Get, Post, Patch, Delete, Put https://restfulapi.net/http-methods/",
        "What is REST and RESTful? Answer: Representational state transfer (REST) is a style of software architecture. As described in a dissertation by Roy Fielding, REST is an 'architectural style' that basically exploits the existing technology and protocols of the Web. RESTful is typically used to refer to web services implementing such an architecture. https://stackoverflow.com/questions/1568834/whats-the-difference-between-rest-restful",
        "What is an ORM? Answer: What is an ORM? From Wikipedia: Object-relational mapping (ORM, O/RM, and O/R mapping tool) in computer science is a programming technique for converting data between incompatible type systems in object-oriented programming languages. and The equivalent of ORMs for Document-oriented databases are called Object-Document Mappers (ODMs). JSData converts data from JavaScript Objects to formats used by MySQL, MongoDB, RethinkDB, Firebase, etc. and vice versa. https://www.sitepoint.com/3-javascript-orms-you-might-not-know/ https://www.js-data.io/v3.0/docs/what-is-an-orm",
        "What is a relational database and how does it differ from a non-relational database? Answer:  Relational represent and store data in tables and rows vs non relational represent data in collectino of json documents. Mongodb is non relational. https://stackoverflow.com/questions/4811744/what-is-the-difference-between-a-relational-and-non-relational-database",
        "Do you like to work alone or as part of a team?",
        "What’s the best part about your current/last job?",
        "what is the difference between Java and Python",
        "What’s the most frustrating part about your current/last job?",
        "What are your weaknesses?",
        "What in particular are you most interested in working on?",
        "Why are you leaving your current job (or why did you leave your last job)?",
        "Do you have examples of your work?",
        "What is one mistake you've made while working and how did  you fix it?",
        "What is a potential pitfall with using typeof bar === 'object' to determine if bar is an object? How can this pitfall be avoided?"
    ];

    function getInterviewQuestion() {
        document.getElementById("interviewQuestion").innerHTML = arrThree[Math.floor(Math.random() * arrThree.length)];
    }
    </script>
<script>

    var arrFour = [
        "http://huntr.co",
        "http://builtincolorado.com/jobs",
        "https://stackoverflow.com/jobs/remote-developer-jobs",
        "http://www.indeed.com/",
        "http://www.workday.com/",
        "http://www.glassdoor.com/",
        "https://www.pramp.com/#/",
        "https://www.toptal.com/",
        "https://www.guru.com/d/jobs/",
        "http://www.hired.com/",
        "http://www.dice.com",
        "https://triplebyte.com/",
        "http://talent.galvanize.com/",
        "https://www.careerboutique.com/",
        "http://www.hackerrank.com/",
        "http://www.devhints.io/"
    ];

    function getjobTool() {
        document.getElementById("jobTool").innerHTML = arrFour[Math.floor(Math.random() * arrFour.length)];
    }
    </script>
<script>

    var arrFive = [
        "https://www.youtube.com/watch?v=k7-N8R0-KY4",
        "https://www.youtube.com/channel/UCM5ldu3IonPjffpYSnSYYJA",
        "https://www.udemy.com/coding-interview-bootcamp-algorithms-and-data-structure/",
        "https://www.youtube.com/watch?v=FYXpOjwYzcs",
        "https://www.youtube.com/watch?v=zSQIGzmcp2I&feature=youtu.be",
        "https://www.youtube.com/watch?v=zE9iro4r918",
        "https://www.youtube.com/watch?v=vPEJSJMg4jY",
        "https://www.youtube.com/watch?v=iLJeGqPVNCY",
        "https://www.linkedin.com/learning/building-and-deploying-a-full-stack-react-application/what-you-should-know"

    ];

    function getVideo() {
        document.getElementById("getVideo").innerHTML = arrFive[Math.floor(Math.random() * arrFive.length)];
    }
</script>
<script>
    var arrSix = [
        "https://medium.freecodecamp.org/javascripts-apply-call-and-bind-explained-by-hosting-a-cookout-84b85977ee11",
        "https://medium.com/@daffl/javascript-the-weird-parts-8ff3da55798e",
        "https://medium.com/developers-writing/fibonacci-sequence-algorithm-in-javascript-b253dc7e320e",
        "https://toddmotto.com/understanding-the-this-keyword-in-javascript/",
        "https://medium.com/javascript-scene/the-two-pillars-of-javascript-ee6f3281e7f3",
        "https://www.youtube.com/watch?v=sWOXYDBbz0g",
        "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Inheritance_and_the_prototype_chain",
        "https://github.com/justsml/array-flashcards/blob/master/PITCHME.md",
        "https://www.quora.com/JavaScript-follows-which-Programming-Paradigm",
        "https://stackoverflow.com/questions/1232040/how-do-i-empty-an-array-in-javascript",
        "https://coderwall.com/p/_ggh2w/the-array-native-every-filter-map-some-foreach-methods",
        "https://medium.freecodecamp.org/three-ways-to-return-largest-numbers-in-arrays-in-javascript-5d977baa80a1",
        "https://codeburst.io/array-methods-explained-filter-vs-map-vs-reduce-vs-foreach-ea3127c6d319",
        "https://risingstars.js.org/2017/en/",
        "Destructuring",
        "implied globals",
        "the window object",
        "function-scope",
        "declaration hoisting",
        "Use recursion to log a fibonacci sequence of n length.",
        "Define a function that returns n lines of Pascal’s Triangle. (this question was the entire interview)",
        "Define a function that takes an array of strings, and returns the most commonly occurring string that array (this question came with an execution time limit)",
        "scope chains",
        "Difference between browser detection and feature detection",
        "DOM Event Propagation",
        "hoisting precedence (parameters vs var vs function)",
        "Event Delegation",
        "Explain the use cases for, and differences between — bind, apply and call.",
        "how accidental closures might cause memory leaks in IE.",
        "What unit testing framework do you use? and why?",
        "Event bubbling V/s Event Capturing",
        "Graceful Degradation V/s Progressive Enhancement",
        "Difference between Classic Inheritance and Prototypical Inheritance",
        "What is difference between private variable, public variable and static variable? How we achieve this in JS?",
        "https://career.guru99.com/top-85-javascript-interview-questions/",
        "How to add/remove properties to object in run time?",
        "How to achieve inheritance ?",
        "How to extend built-in objects?",
        "What is the event loop?",
        "Scope of variable",
        "What is Associative Array? How do we use it?",
        "Why extending array is bad idea?",
        "https://stackoverflow.com/questions/2492123/pro-javascript-programmer-interview-questions-with-answers",
        "https://www.codeproject.com/Articles/620811/Latest-JavaScript-Interview-Questions-and-Answers",
        "https://devhints.io/es6",
        "Immediate-invoked function expression | https://en.wikipedia.org/wiki/Immediately-invoked_function_expression",
        "https://www.javaworld.com/article/3196070/node-js/10-javascript-concepts-nodejs-programmers-must-master.html",
        "https://www.javaworld.com/article/2078919/java-ios-developer/6-secrets-of-javascript-jedis.html",
        "https://scotch.io/tutorials/learning-javascript-native-functions-and-how-to-use-them",
        "https://stackoverflow.com/questions/964910/is-javascript-an-untyped-language",
        "https://www.simplilearn.com/node-js-interview-questions-and-answers-article",
        "https://blog.risingstack.com/node-js-interview-questions-and-answers-2017/",
        "https://blog.risingstack.com/javascript-clean-coding-best-practices-node-js-at-scale/",
        "https://www.toptal.com/nodejs/interview-questions",
        "https://repl.it/@leodotng/nodeinterview-question",
        "https://career.guru99.com/top-25-interview-questions-on-node-js/",
        "http://blog.jeremymartin.name/2008/03/understanding-loose-typing-in.html",
        "http://jstherightway.org/",
        "scoping - functions as first class objects, closures, function vs block scoping",
        "prototype - inheritance in js, how it differs from other languages",
        "Which new JavaScript / browser features are you most excited about and why?",
        "https://softwareengineering.stackexchange.com/questions/251101/i-know-javascript-really-well-but-i-bomb-coding-interviews",
        "https://webapplog.com/es6/",
        "code organization and dependency management - what do you do, are you familiar with AMD/require.js, commonjs, or es6 modules?",
        "AJAX - just general stuff",
        "build tools - webpack, grunt, etc",
        "Refactoring",
        "server side js - node.js, npm experience",
        "Array functions - map/reduce/filter/reduce/sort/etc",
        "Troubleshooting techniques - race conditions, developer tools (firebug, chrome dev tools, windows script debugger), understanding that breakpoints affect the behavior of your code, proxy tools (Fiddler or the like), understanding that proxies can affect the behavior of your code (fiddler mishandles edge cases of content-encoding chunked, as an example), wireshark or similar",
        "REST API design - given a random data model that I come up with on the spot, design a good API for it",
        "Web Security - same origin policy, Cross Site Scripting, Cross Site Request Forgery, cookies (secure flag, http only flag, what to store in cookies, what not to, etc), basic session based security",
        "What are the differences between functional and imperative programming styles, and explain your preference, if any.",
        "https://vmayakumar.wordpress.com/2017/01/17/functional-programing-in-javascript/",
        "https://codeburst.io/10-javascript-concepts-you-need-to-know-for-interviews-136df65ecce",
        "https://www.sitepoint.com/5-typical-javascript-interview-exercises/",
        "https://dev.to/maxpou/typical-javascript-interview-exercises-explained",
        "Stacks & Queues with classes: https://stackoverflow.com/questions/1590247/how-do-you-implement-a-stack-and-a-queue-in-javascript"

    ];

    function getJavascript() {
        document.getElementById("javascript").innerHTML = arrSix[Math.floor(Math.random() * arrSix.length)];
    }
</script>
<script>
    // computer science

    var arrSeven = [
        "https://medium.freecodecamp.org/time-is-complex-but-priceless-f0abd015063c",
        "https://www.javatpoint.com/javascript-data-types",
        "https://en.wikipedia.org/wiki/Pascal%27s_triangle",
        "https://www.activestate.com/blog/2016/01/python-vs-java-duck-typing-parsing-whitespace-and-other-cool-differences",
        "https://repl.it/@leodotng/Fibonacci-Javascript",
        "https://www.hackerearth.com/practice/data-structures/linked-list/singly-linked-list/tutorial/",
        "http://codingmiles.com/sorting-algorithms-bubble-sort-using-javascript/",
        "http://blog.benoitvallon.com/sorting-algorithms-in-javascript/the-bubble-sort-algorithm/",
        "https://www.interviewcake.com/question/javascript/nth-fibonacci",
        "https://medium.freecodecamp.org/here-are-examples-of-everything-new-in-ecmascript-2016-2017-and-2018-d52fa3b5a70e",
        "http://www.learn-c.org/en/Linked_lists",
        "https://www.glassdoor.com/Interview/Find-the-median-of-a-very-big-array-of-integer-Only-iterator-is-available-QTN_2437194.htm",
        "longest common subsequence question",
        "https://www.educative.io/collection/page/5679346740101120/5703274724327424/5738886445662208",
        "https://www.sanfoundry.com/data-structure-questions-answers-longest-common-subsequence/",
        "https://brilliant.org/wiki/sorting-algorithms/",
        "http://www.cs.cmu.edu/afs/cs/academic/class/15451-s15/LectureNotes/lecture04.pdf",
        "https://www.interviewcake.com/",
        "https://www.hiredintech.com/classrooms/system-design/lesson/60",
        "https://www.educative.io/collection/5642554087309312/5679846214598656",
        "https://www.reddit.com/r/cscareerquestions/comments/1jov24/heres_how_to_prepare_for_tech_interviews/",
        "https://leetcode.com/explore/learn/card/hash-table/",
        "https://nordicapis.com/13-node-js-frameworks-to-build-web-apis/",
        "Stacks & Queues with classes: https://stackoverflow.com/questions/1590247/how-do-you-implement-a-stack-and-a-queue-in-javascript"
    ];

    function getComputerScience() {
        document.getElementById("computerscience").innerHTML = arrSeven[Math.floor(Math.random() * arrSeven.length)];
    }
</script>
<script>
    var arrEight = [
        "https://repl.it/@leodotng/Fibonacci-Javascript",
        "https://repl.it/@leodotng/Convert-to-Celsius",
        "https://repl.it/@leodotng/Simplest-FizzBuzz",
        "https://repl.it/@leodotng/First-Factorial",
        "https://repl.it/@leodotng/Private-Properties-using-closures",
        "https://repl.it/@leodotng/Closures-in-JavaScript"

    ];

    function getRepl() {
        document.getElementById("repl").innerHTML = arrEight[Math.floor(Math.random() * arrEight.length)];
    }
</script>
<script>
    var arrNine = [
        "instantiation",
        "Constructor Functions",
        "Classical Inheritance",
        "Prototypal Inheritance",
        "Closures",
        "OWASP | Open Web Application Security Project",
        "hashing",
        "macs",
        "PK-crypt",
        "https://en.wikipedia.org/wiki/Immediately-invoked_function_expression",
        "RDBMS",
        "bind",
        "Primitive data type",
        "Non-primitive (reference) data type",
        "object literal",
        "imperative/procedural programming",
        "OOP (Object-Oriented Programming)",
        "Functional Programming",
        "Paradigm",
        "concurrency",
        "paralellism",
        "Pure Functions",
        "Spread Syntax - JavasScript ES6",
        "lexical-scoped",
        "Currying | Currying is a method of making functions more flexible. With a curried function, you can pass all of the arguments that the function is expecting and get the result, or you can pass only a subset of arguments and receive a function back that waits for the rest of the arguments."

    ];

    function getVocab() {
        document.getElementById("vocab").innerHTML = arrNine[Math.floor(Math.random() * arrNine.length)];
    }
</script>
<script>
    var arrTen = [
        "http://www.codewars.com/",
        "http://www.codefights.com/",
        "http://coderbyte.com",
        "https://interviewing.io/",
        "http://www.leetcode.com",
        "https://codecombat.com/",
        "https://www.hackerearth.com/"

    ];

    function getCodepractice() {
        document.getElementById("codepractice").innerHTML = arrTen[Math.floor(Math.random() * arrTen.length)];
    }
</script>
<script>
    var arrEleven = [
        ".splice()",
        ".pop()",
        ".concat()",
        ".copyWithin()",
        ".entries()",
        ".every()",
        ".fill()",
        ".filter()",
        ".find()",
        ".findIndex()",
        ".forEach()",
        ".from()",
        ".includes()",
        ".indexOf()",
        ".isArray()",
        ".join()",
        ".keys()",
        ".lastIndexOf()",
        ".map()",
        ".pop()",
        ".push()",
        ".reduce()",
        ".reduceRight()",
        ".reverse()",
        ".shift()",
        ".slice()",
        ".some()",
        ".sort()",
        ".splice()",
        ".toString()",
        ".unshift()",
        ".valueOf()"
    ];

    function getArraymethods() {
        document.getElementById("arraymethods").innerHTML = arrEleven[Math.floor(Math.random() * arrEleven.length)];
    }
</script>
<script>
    var arrTwelve = [
        ":active",
        ":any-link",
        ":checked",
        ":default",
        ":defined",
        ":dir()",
        ":disabled",
        ":empty",
        ":enabled",
        ":first",
        ":first-child",
        ":first-of-type",
        ":fullscreen",
        ":focus",
        ":focus-within",
        ":host",
        ":hover",
        ":indeterminate",
        ":in-range",
        ":invalid",
        ":lang()",
        ":last-child",
        ":last-of-type",
        ":left",
        ":link",
        ":not()",
        ":nth-child()",
        ":nth-last-child()",
        ":nth-last-of-type()",
        ":nth-of-type()",
        ":only-child",
        ":only-of-type",
        ":optional",
        ":out-of-range",
        ":placeholder-shown",
        ":read-only",
        ":read-write",
        ":required",
        ":right",
        ":root",
        ":scope",
        "overflow-wrap: break-word;",
        "https://css-tricks.com/interview-questions-css/",
        "https://github.com/utatti/Front-end-Developer-Interview-Questions-And-Answers/blob/master/answers/css-questions.md",
        ":target",
        ":valid",
        "https://www.upwork.com/i/interview-questions/css/",
        "https://career.guru99.com/top-50-csscascading-style-sheet-interview-questions/",
        ":visited"
    ];

    function getCss() {
        document.getElementById("css").innerHTML = arrTwelve[Math.floor(Math.random() * arrTwelve.length)];
    }
</script>
<script>

    var arrThirteen = [
        "https://repl.it/@leodotng/First-Factorial",
        "https://repl.it/@leodotng/Print-the-numbers-from-10-to-1-using-a-while-loop",
        "https://repl.it/@leodotng/Convert-to-Celsius",
        "https://repl.it/@leodotng/Hey-Arnold-Code-Challenge",
        "https://repl.it/@leodotng/Iwantthiscodetologout0123",
        "https://repl.it/@leodotng/WriteFunc2argreturns-larger",
        "https://repl.it/@leodotng/usestrictinJavaScript",
        "https://edabit.com/explore",



    ];

    function getCodingChallenge() {
        document.getElementById("codingchallenge").innerHTML = arrThirteen[Math.floor(Math.random() * arrThirteen.length)];
    }

</script>
<script>
    var arrFourteen = [
        "arrows",
        "Default Parameters",
        "Template Literals",
        "mult-line strings",
        "promises",
        "classes",
        "classes",
        "recursion",
        "enhanced object literals",
        "template strings",
        "destructuring",
        "default + rest + spread",
        "let + const block scope",
        "iterators + for..of",
        "generators",
        "unicode",
        "microservices",
        "modules",
        "module loaders",
        "map + set + weakmap + weakset",
        "proxies",
        "symbols",
        "subclassable built-ins",
        "promises",
        "Template literals",
        "Destructuring objects",
        "Destructuring arrays",
        "For of loop",
        "spread operator",
        "rest operator",
        "Arrow Functions",
        "Default Params",
        "Export and import",
        "trailing commas",
        "includes()",
        "Async & await",
        "padStart() & padEnd()",
        "Exponential Operator",
        "Object.values()",
        "Object.entries()",
        "Maps",
        "Ojbect.getOwnPropertyDescriptor()",
        "sets",
        "classes",
        "math + number + string + array + object APIs",
        "binary and octal literals",
        "reflect api",
        "tail calls",
        "https://www.sitepoint.com/understanding-es6-modules/",
        "https://derickbailey.com/2017/06/06/3-features-of-es7-and-beyond-that-you-should-be-using-now/",
        "https://github.com/lukehoban/es6features#readme",
    ];

    function getEs6features() {
        document.getElementById("es6").innerHTML = arrFourteen[Math.floor(Math.random() * arrFourteen.length)];
    }
</script>
<script>
    var arrFifteen = [
        "https://medium.com/javascript-scene/10-tips-for-better-redux-architecture-69250425af44",
        "https://techblog.appnexus.com/five-tips-for-working-with-redux-in-large-applications-89452af4fdcb",
        "https://www.sohamkamani.com/blog/2017/03/31/react-redux-connect-explained/",
        "https://reacttraining.com/react-router/web/guides/quick-start",
        "https://css-tricks.com/learning-react-router/",
        "Computed Properties",
        "http://alistapart.com/",
        "https://medium.com/@childsmaidment/getting-started-with-redux-and-graphql-8384b3b25c56",
        "https://www.robinwieruch.de/react-graphql-apollo-tutorial/",
        "lifestyle Hooks",
        "https://frontendfoc.us/",
        "https://www.carlrippon.com/writing-concise-react-components-with-destructure-assignment-and-spread/",
        "https://www.leemunroe.com/designing-for-high-resolution-retina-displays/",
        "http://getbem.com/introduction/"

    ];

    function getFrontEnd() {
        document.getElementById("frontend").innerHTML = arrFifteen[Math.floor(Math.random() * arrFifteen.length)];
    }
</script>
<script>
    var arrSixteen = [
        "https://www.educative.io/collection/5642554087309312/5679846214598656?affiliate_id=5082902844932096&utm_source=facebook&utm_medium=fbvideo&utm_campaign=coderust_animated_video&utm_content=conversion_ad"

    ];

    function getCourses() {
        document.getElementById("courses").innerHTML = arrSixteen[Math.floor(Math.random() * arrSixteen.length)];
    }

</script>