body {
  padding: 0;
  margin: 0;
  /* font: 10px "Lucida Grande", Helvetica, Arial, sans-serif; */
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Muli", sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

a {
  color: #00b7ff;
}

.space {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.flex-item {
  
  margin: 10px;
  line-height: 20px;
  color: black;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
}

.above {
  padding-top: 5px;
  padding-bottom: 5px;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
}

.button-align {
  align-content: center;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}